
.pic1,.pic2.pic3{
  
    object-fit: cover;
}
.course{
    color: rgb(9, 9, 9) !important;
    background-color: darkgrey!important;
    box-shadow: 0px 0px 18px black;
    transition: transform 1s ease-in-out;
}

.course:hover{
    transform: scale(1.03);
}