#root {
    margin: 0px ;
  padding: 0px;
}

nav{
  background-color: #343a40;
  color: white;
  position: fixed;
  top: 0px;
}
nav a{
  color: wheat;
   text-decoration: none;
  margin-right: 10px;
  font-size: 0.8rem;
  transition: color 0.3s ease-in-out;
}
nav a:hover{
  color:#52b788 ;
}
.content{
  margin-top: 40px;

}
i{
  color: wheat;
}


.icons{
  margin-left: 20px;
  font-size: 20px;
}
